* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins-Regular";
}

@font-face {
    font-family: "Poppins-Regular";
    src: url("../fonte/Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Poppins-ExtraBold";
    src: url("../fonte/Poppins/Poppins-ExtraBold.ttf");
}

:root .escuro {
    --corFundoBody: #2A292E;
    --corTexto: #ffffff;
    --corBotaoMain: #483EA4;
    --corTextoMarrom: #A47C3E;
    --corBotaoHeader: #D9D9D9;
    --corSecaoCinza: #93919157;
}

.root .claro {
    --corFundoBody: #D9D9D9;
    --corTexto: #000000;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    display: grid;
    grid-template-rows: 8rem 1fr 6rem;
    color: var(--corTexto);
}