*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    height: 100vh;
    background-color: #303438;
}

.image{
    display: flex;
    width: 100%;
}

img{
    width: 100%;
    border-radius: 6px 0px 0px 6px;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #fff;
    border-radius: 5px;
    padding: 0px 0px;
    width: 900px;
    border: none;
}

h1{
    margin-bottom: 12px;
    color: #000;
    font-size: 35px;
    font-weight: 600;
}

h3{
    margin-bottom: 12px;
    color: #404245;
    font-size: 14px;
    font-weight: 600;
}

h4{
    font-weight: 500;
    font-size: 12px;
    color: #808b96;
}

a{
    font-weight: 700;
    font-size: 12px;
    text-decoration: none;
    color: rgb(39, 39, 205);
    cursor: pointer;
}

.div-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 40px 65px 40px 65px;
}

input{
    width: 100%;
    height: 40px;
    border-radius: 12px;
    border: 1px #808b96 solid;
    outline: none;
    padding: 5px 14px;
    color: #ffffff;
    background-color: #5d6d7e;
}

input::placeholder{
    color: #ffffff;
}

input:focus{
    border: 1px #ebc428 solid;
}

label{
    font-weight: 600;
}

button{
    border-radius: 12px;
    border: 1px #f8c471 solid;
    padding: 8px 16px;
    cursor: pointer;
    background-color: #ebc428;
    font-weight: 600;
    font-size: 16px;
    transition: 0.2s ease-in-out;
    margin-top: 5px;
    color: #000;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

button:hover{
    background-color: #f8c471;
}

.logo{
    width: 20%;
    margin: 10px;
}

header{
    width: 100%;
    display: flex;
    justify-content: center;
}