section {
    background-color: var(--corFundoBody);
    color: var(--corTexto);
}

.section_pagina {
    height: 90vh;
    padding: 0 7rem;
}

#home {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.titulo {
    font-family: "Poppins-Extrabold";
    font-size: 3rem;
}

.subtitulo {
    font-family: "Poppins-Extrabold";
}

.section_textos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: 2rem;
    gap: 1rem;
}

.section_img {
    display: flex;
    justify-content: center;
    align-items: center;
}


.texto_marrom {
    color: var(--corTextoMarrom);
}

#servicos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
    .section_servicos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 2rem 0;

        .servico {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            padding: 0 2rem;
            border-left: 0.2rem solid var(--corTextoMarrom);
        }

        .servico:last-child{
            border-right: 0.2rem solid var(--corTextoMarrom);
        }
    }

    li {
        list-style: none;
    }
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}