header {
    position: sticky;
    top: 0;
    background-color: var(--corFundoBody);
    display: flex;
    align-items: center;

    nav {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.logo {
    width: 20rem;
    height: fit-content;
    object-fit: cover;
}

a {
    color: var(--corTexto);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

a:hover {
    color: var(--corBotaoForm);
}

.botao {
    background-color: var(--corTexto);
    color: var(--corFundoBody);
    padding: 0.75rem 2.5rem;
    font-family: "Poppins-Extrabold";
    border-radius: 0.2rem;
}

.menu .hamburguer {
    width: 2rem;
    height: 2rem;
    z-index: 1;

    span {
        display: block;
        width: 2rem;
        height: 0.3rem;
        margin-bottom: 0.6rem;
        background-color: var(--corTexto);
        border-radius: 0.2rem;
        transition: all 0.2s ease-in-out;
    }
}

.menu .check_hamburguer {
    position: absolute;
    z-index: 2;
    width: 2rem;
    height: 2rem;
    opacity: 0;
    cursor: pointer;
}

.menu .check_hamburguer:checked ~ .hamburguer span:nth-child(1) {
    transform-origin: 0% 0%;
    transform: rotate(45deg) scaleX(1.35);
}

.menu .check_hamburguer:checked ~ .hamburguer span:nth-child(2) {
    opacity: 0;
}

.menu .check_hamburguer:checked ~ .hamburguer span:nth-child(3) {
    transform-origin: 0% 100%;
    transform: rotate(-45deg) scaleX(1.35);
}

.menu ul {
    list-style: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 20%;
    height: 100vh;
    padding-top: 6.25rem;
    background-color: var(--corTextoForm2);
    margin-left: -20%;
    transition: all 0.2s ease-in-out;
}

.menu .check_hamburguer:checked ~ ul {
    margin-left: 0;
}

.menu ul li {
    padding: 1rem 3rem;
}

.menu ul li a {
    font-size: 1.2rem;
}