header {
    position: sticky;
    top: 0;
    background-color: var(--corFundoBody);
    display: flex;
    align-items: center;

    nav {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.logo {
    width: 20rem;
    height: fit-content;
    object-fit: cover;
}

a {
    color: var(--corTexto);
    text-decoration: none;
}

.botao {
    background-color: var(--corTexto);
    color: var(--corFundoBody);
    padding: 0.75rem 2.5rem;
    font-family: "Poppins-Extrabold";
    border-radius: 0.2rem;
}