main {
    background-color: var(--corFundoBody);
    color: var(--corTexto);
}

.section_pagina {
    scroll-margin-top: 8rem;
    min-height: 80vh;
    background-color: var(--corFundoBody);
    color: var(--corTexto);
}

#home {
    display: flex;
}

#home .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

.titulo {
    font-family: "Poppins-Extrabold";
    font-size: 3rem;
}

.subtitulo {
    font-family: "Poppins-Extrabold";
}

.section_textos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: 2rem;
    gap: 1rem;
}

.section_img {
    display: flex;
    justify-content: end;
    align-items: center;
}

.img_fundo {
    width: 80%;
}


.texto_marrom {
    color: var(--corTextoMarrom);
}

#servicos .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    p {
        text-align: center;
    }
    
    .section_servicos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 2rem 0;

        .servico {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            padding: 0 2rem;
            border-left: 0.2rem solid var(--corTextoMarrom);
        }

        .servico:last-child{
            border-right: 0.2rem solid var(--corTextoMarrom);
        }
    }

    li {
        list-style: none;
    }
}

#sobreNos .container {
    display: grid;
    grid-template-rows: 1fr 5fr;

    .marcas {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
}

#contato {
    display: flex;
    
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.texto_pequeno {
    font-weight: bold;
    font-size: 0.9rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

table {
    width: 75%;
    background-color: var(--corTextoForm);
    color: var(--corTextoForm);
    padding: 0.5rem;
}

th, td {
    padding: 1rem;
    text-align: center;
}

th {
    background-color: var(--corBotaoForm);
}

td {
    background-color: var(--corTexto);
}

.btnTabela {
    display: flex;
    border-radius: 0.4rem;
    padding: 0.4rem;
    border: none;
    background-color: var(--corBotaoKPI);
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

.btnTabela:hover {
    background-color: #A47C3E;
}

button .iconeTabela {
    width: 2rem;
}

.tabelas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cadastrar {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.cadastrar .btnTabela {
    border-radius: 50%;
}